<h1>Editing book</h1>
<%= form_with model: @book do |f| %> <!-- 7章にて-->
  <p>Title</p>
  <%= f.text_field :title %>

  <p>Body</p>
  <%= f.text_area :body %>

  <%= f.submit 'Update Book' %>

<% end %>
