body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 33px;
}

p, ol ,td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 33px;
}

a {
  color: #000;
}

a:visited {
  color: #666;
}

th {
  padding-bottom: 5px;
}

td {
  padding: 7px 5px;
}

.error {
  color: red;
  font-weight: bold;
}

.form{ /*入力欄*/
  margin-top: 10px;
}

.button{ /*入力欄*/
  margin-top: 10px;
}

.success {
  color: green;
}